<% if spare_collection.size>0 %>
  <% products= spare_collection.find_all{|p| p.is_a?(Product)} + spare_collection.find_all{|p| p.is_a?(Taxon)}.map(&:products)  %>
  <div class="taxon">
    <%= product_h2_title(spare_title) %>
    <%= render(:partial => "/shared/products.html.erb", :locals => {:products => products.flatten.uniq.sort_by{|i| i.name},:taxon=>nil}) %>
    <div class="fx-clear"></div>
  </div>
<% end %>