<% if @product.paint_colors.size>0 %>
  <p>Cette maquette est vendue sans peinture, les peintures nécessaires à cette maquette sont listées ci dessous : <br/>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <div class="paint">
        <% total = @product.final_price + products.map(&:final_price).sum  %>
        <%= link_to("<span class=\"fx-iconmodel fx-modelpaint\"></span><span class=\"content\">Acheter la maquette et ses peintures #{type.title} = #{number_to_currency(total)}</span>","#",:class=>"ui-widget-content ui-state-default",:onclick=>"javascript:spree.general.add_to_cart('/orders','#{@product.name} et ses #{type.description}','#{@product.variant.id},#{products.map(&:variant).map(&:id).join(",")}');return false;") %>
      </div>
    <% end %>
  <% end %>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <div class="paint">
        <% total = products.map(&:final_price).sum  %>
        <%= link_to("<span class=\"fx-iconmodel fx-paint\"></span><span class=\"content\">Acheter seulement les peintures #{type.title} pour cette maquette = #{number_to_currency(total)}</span>","#",:class=>"ui-widget-content ui-state-default",:onclick=>"javascript:spree.general.add_to_cart('/orders','#{type.description} de la maquette #{escape_javascript(@product.name)}','#{products.map(&:variant).map(&:id).join(",")}');return false;") %>
      </div>
    <% end %>
  <% end %>
  <i>Une seule des deux gammes de peinture est nécessaire</i>
  </p>
  <% PaintColorType.all.each do |type| %>
    <% products = @product.paint_colors.paint_type(type.id).map(&:color_product) %>
    <% if products.size  %>
      <div class="taxon">
        <%= product_h2_title(type.description) %>
        <%= render(:partial => "/shared/products.html.erb", :locals => {:products => products.flatten.uniq.sort_by{|i| i.name},:taxon=>nil}) %>
        <div class="fx-clear"></div>
      </div>
    <% end %>
  <% end %>
<% end %>