<% if @product.linkables.size>0 %>
<% products= @product.linkables.find_all{|p| p.is_a?(Product)} + @product.linkables.find_all{|p| p.is_a?(Taxon)}.map(&:products)  %>
  <div class="taxon">
    <h2 class="product"><%= link_to "<div class='top'></div>#{tooltip("HAUT DE PAGE")} #{t("accessories").mb_chars.upcase}", "#", :class => 'breadcrumbs' %>  <div class="alpha"></div></h2>
        <%= render :partial => "/shared/products.html.erb", :locals => {:products => products.flatten,:taxon=>nil } %>
  </div>
<% end %>